/* Global styles*/
*,
*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*WebStudio page colors from Style Guide */
   
    
    --iris-color: #4d5ae5; /* Primary Brand :CTA's  */
    --ocean-color: #404bbf; /* Pressed state :CTA's, Focused/Active states links*/
    --navy-blue: #2E2F42; /* Dark :Overlays, Shadows, Headings */
    --green: #31D0AA; /* Success :Valid fields, Success messages*/
    --slate: #434455; /* Text : Body text */
    --light-slate: #8E8F99; /* Subtitle text :Helper text, Deemphasized text*/
    --cornflower: #E7E9FC; /* Accent: Accent color, Hairlines Subtle backgrounds*/
    --cloud: #F4F4FD; /* Light: Light mode backgrounds, Light mode Dialogs/alerts*/
    --navy-blue-modal: #F4F4FD; /* MOdal Overlay: overlay*/
    --grey: #2e2f4266;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --accent-color: #E7E9FC;


/* modal-bg, */
}
body {
    --prime-font-family: 'Roboto', sans-serif;
    --second-font-family: 'Raleway', sans-serif;
    --primary-color: var(--slate);
    font-family: var(--prime-font-family);
    color: var(--slate); /* slate var(--primary-text);*/
    background-color: var(--white); /*var(--white-bg); */
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {margin: 0;}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {text-decoration: none;}

img {
    display: block;
    width: 100%;
    height: auto;
}
/* END - Global Styles */
/*---------------------------------------------------------------- */

/* RESPONSIVE styles */
/* section & container - start mobile first - section & container from mobile mocup */
/* @media : min 320px / min 768px / min 1158px */
/* */

/* mobile firts = @media (min-width: 320px) */

.section {padding: 96px 0;}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* tablet screen = @media (min-width: 768px) */

@media (min-width: 768px) {
    .container {max-width: 768px;}
}

/* desktop screen = @media (min-width: 1158px) */

@media (min-width: 1158px) {
    .section{padding: 120px 0;}
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* */

/* HEADER-SECTION cont.: Block logo, Block nav, Block address*/
/* universal classes - no media queries */
.header-section{
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-section__wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* test  
    background-color: aqua; */
}
@media (min-width: 768px) {
    /*.header-section__wrapper {
        /* test 
        background-color: aquamarine; 
    }   */
}
@media (min-width: 1158px) {
    .header-section__wrapper {
        padding-top: 24px;
        padding-bottom: 24px;

        /* test 
        background-color: rgb(19, 99, 72); */
    }
}

/* header-section :2 x Blocks: nav +space between address */

/* Block nav => nav btn => menu + address*/
.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 120px;
    display: inline-block;
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color); /*var(--primary-brand);*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--dark-theme {color: var(--navy-blue); /*var(--logo-dark-theme);*/}
.logo--light-theme {color: var(--cloud); /*var(--logo-light-theme);*/}

.logo:focus,
.logo:hover{
    color: var(--ocean-color); /*var(--pressed-state)*/
}
.menu {
    display: none;
}
.menu__link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* test color
    background-color: burlywood; */
}


/*  address block */
.address {
    display: block;
}
.address__list{
    display: none;
}
.address__link {
    display: block;
    margin-left: auto;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--slate);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:focus,
.menu__link:hover,
.address__link:focus,
.address__link:hover {
    color: var(--ocean-color);
    
}

/* mobile-nav btn */
.mobile-nav__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0; 
}
.nav__icon {
    fill: #2F2F37;
    cursor: pointer;
}

/*  header section media */

@media (min-width: 768px) {
    .mobile-nav__btn {
        display: none;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    .address__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;  
        gap: 12px;
    }      
}
@media (min-width: 1158px) {
    .address__list {
        flex-direction: row;
        gap: 40px;
    }
}
.active {
    position: relative;
    color: var(--ocean-color);
}
.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--ocean-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

/* Block address */

@media (min-width: 768px) {

}
.address__item:focus,
.address__item:hover {
    color: var(--ocean-color);
    /*var(--pressed-state)*/
}


/* BLOCK MOBILE-NAV menu - */

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 24px 24px 40px 16px;
    max-width: 320px;
    opacity: 1;
    /*visibility: hidden;*/
    pointer-events: none;
}

.mobile-menu__link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-address__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-address__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    font-style: normal;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-address__link:focus,
.mobile-address__link:hover {
    color: var(--ocean-color);
}

.social-media-links__mobile {
    margin-top: 48px;
    justify-content: space-between;
}

/* */
/* END HEADER-SECTION */
/* */

/* ----- MAIN ----- */
/* MAIN Section called Section */
/* Global main classes: bg-(dark, white, light) color-theme; header-(h1, h2, h3, hidden)
*/

.bg-white{
    background-color: var(--white);
}
.bg-light{
    background-color: var(--cloud);
}

.section__item-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);

    /* test color 
    background-color: red;*/
}
.text-align-center{
    text-align: center;
}
/* */

/* 1st Entry SECTION ORDER: bg dark theme , h1 header, btn order*/

.entry-section{
    background-color: var(--navy-blue);
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
        ), url(../images/people-office-mobile.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.entry-title{
    max-width: 216px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em; 
    color: var(--white); 
    margin-bottom: 72px;
}
@media (min-resolution: 192dpi) {
    .entry-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/people-office-mobile@2x.jpg);
    }
}
@media (min-width: 768px) {
    .entry-section {
        max-width: 768px;
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ), url(../images/people-office-tablet.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .entry-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .entry-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tablet@2x.jpg);
    }
}
@media (min-width: 1158px) {
    .entry-section {
            max-width: 1440px;
            background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
                ), 
                url(../images/people-office.jpg);
            padding-top: 188px;
            padding-bottom: 188px;
        }

}
@media (min-width: 1158px) and (min-resolution: 192dpi) {
    .entry-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/people-office-desktop@2x.jpg);
    }
}
.entry-section__btn {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: block;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    overflow: hidden;
    
    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus{
    background-color: #404BBF; /*var(--pressed-state)*/
}


/* */

/* 2nd section advantages ARTICLES, with: 4x articles, bg white, section heading hidden, */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.article__img {
    display: none;
}
.article__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 8px;

    text-align: center;  
}
.article p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    .article {
        max-width: calc((100% - 24px)/2);
    }
    .article__heading {
        text-align:left;
    }
}

@media (min-width: 1158px) {
    .article{
        /*calc: column=n gap=x, calc=((100% - (n-1)x)/n) - to można przez stałe zapisać ... */
        max-width: calc((100% - 72px)/4);
    }
    .article__img {
        background-color: var(--cloud);
        border-radius: 4px;
        border: 1px solid var(--light-slate);
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }
    .article__heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
    .article p{
        font-weight: 400;
    }
}
/* */
/* 3rd section "Our Team" cards: bg cloud, display flex: 4 cards in row */
/* the same classes as in the previous sections: section, container section__items */

.section__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;

    /*test color 
    background-color: red; */
}
.section__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);

    margin-bottom: 72px;
}
.card {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    max-width: 264px;
}
@media (min-width: 1158px) {
    .card {
        max-width: calc((100% - 72px) / 4);
    }
}
.card__wrapper {
    padding: 32px 16px;
}
.card__c-heading {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

/* social-media links & icons */
.social-media-links{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.social-media-links__item {
    width: 40px;
    height: 40px;
}
.icon-link {
    fill: var(--cloud);
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
    fill: inherit;
}
.icon-link:hover, 
.icon-link:focus {
    background-color: var(--ocean-color);
}

/*  */

/* 4th section Portfolio: bg white, division list: display flex: 3 cards in row */
/* */

.section__items--row-gap {
    /* mobile row gap = 8 x 6 */
    row-gap: 48px;
}
.portfolio-card {
/* portfolio-cars width = calc(100% - (n-1) x (column gap)/n); */
   /* width: calc((100% - 48px)/3);*/
    max-width: 100%;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
@media (min-width: 768px) {
    .section__items--row-gap {
    /* tablet row gap = 8 x 9 */
        row-gap: 72px;
    }
    .portfolio-card {
        width: calc((100% - 24px)/2);
    }
}

@media (min-width: 1158px) {
    .section__items--row-gap {
    /* desktop row gap = 8 x 6 */
        row-gap: 48px;
    }
    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-card:active,
.portfolio-card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-card__img {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--iris-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}
.card__bordered-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.card__l-heading {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42; /* var(--main-color);*/
    margin-bottom: 8px;
}
/* end portfolio */

/* footer styles: bg dark, text light */

.footer{
    padding: 100px 0;
    background-color: var(--navy-blue); 
}
.footer__items {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;

    /* test color bg 
    background-color: brown; */
}
.footer-item {
    display: block;
    text-align: center;
    justify-content: center;
    

    /* test color text 
    background-color:chartreuse;*/
}

/* 1st footer item - logo + text */
.footer__logo {
    display: block;
    margin: 0;
    margin-bottom: 16px;
}
.footer__text {
    display: block;
    text-align: left;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--cloud);
}
/* 2nd footer item - Social- media */
.footer__heading {
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    
    margin-bottom: 16px;
}

.social-media-links__footer {
    margin: 0;
    gap: 16px;
}
.icon-link__footer {
    fill: var(--cloud);
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link__footer:focus,
.icon-link__footer:hover {
    background-color: var(--green);
}

/* */

/* foooter 3rd item - SUbscribe */

.subscribe-form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
.subscribe-form__input {
    width: 288px;
    height: 40px;
    padding-left: 16px;

    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);

    align-content: center;
    align-items: baseline;
    outline: none;
}
.subscribe-form__input::placeholder {
    color: var(--white);
    font-size: 12px;
}

.subscribe-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 24px;
    min-width: 165px;
}

.subscribe-form__btn-icon {
    margin-left: 16px;
    fill: var(--white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .footer__items {
        column-gap: 24px;
        justify-content: left;
        padding-left: 108px;
        /* padding-left = containers padding (16px)+ footer items padding (92px) */
    }
    .footer-item {
        text-align: left;
    }
    .footer__text {
        max-width: 264px;
    }
    .subscribe-form {
        column-gap: 24px;
    }
    .subscribe-form__input {
        width: 264px;
    }
}

@media (min-width: 1158px) {
    .footer__items {
        column-gap: 0px;
        flex-wrap: nowrap;
        padding-left: 15px;
        justify-content: space-between;
    }

    .footer-item__logo {
        margin-right: 120px;
    }

    .footer-item__subscribe {
        margin-left: 80px;

    } 
    .subscribe-form__input {
        opacity: 1;
    }
}
/* FOOTER END */
/* */

/* MODAL */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;


    transition-property: visibility, opacity, transform;
    
    transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
/* test and try 
- czy przyjmie konstrukcję z is-hidden? - jeśli nie, zrobić btn z class is-open*/
.is-hidden {
    pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transform: translateX(50%) translateY(-50%) scale(0.5) rotate(0deg) skew(10deg, 10deg);
        transition-property: transform;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    

    border-radius: 4px;
    padding: 72px 24px 24px;
    background-color: var(--dairy);
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean-color); 
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.form-field {
    margin-bottom: 8px;
}

.last {
    margin-bottom: 16px;
}

.field {
    width: 100%;
    height: 40px;
    position: relative;
}

.form-field:focus-within {
    border-color: var(--iris-color);
}

.icon-form {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .icon-form {
    fill: var(--iris-color);
}

.classic-field:focus {
    border-color: var(--iris-color);
}

.field-descr {
    display: block;
    margin-bottom: 4px;
    padding: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.classic-field {
    width: 100%;
    height: 40px;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    outline: transparent;
   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-section {
    width: 100%;
    height: 120px;
    resize: none;

    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;

    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-section:focus-within {
    border-color: var(--iris-color);
}

.accept {
    margin-bottom: 24px;
    display: flex;
}

.checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
}

.checkbox:active {
    background-color: var(--ocean-color);
}

.send-btn {
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--navy-blue);
    background-color: var(--cornflower);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.close-btn:active,
.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean-color);
    border: none;
    fill: var(--white);
}

.x-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-form-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check {
    cursor: pointer;
}

.check:checked+.field-descr span {
    background-color: var(--ocean-color);
    border: none;
    fill: var(--cloud);
}

.privacy-link {
    text-decoration: underline;
    color: var(--iris-color);
}
.privacy-link:active {
    color: var(--ocean-color);
}